@{
    Layout = "~/_Layout.cshtml";
    Page.Num = 0;
}

<body>
    <br/><br/>
    <div id="comments" class="container">
        <ul class="timeline col-md-8 col-md-offset-2">
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-info-sign"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Este es mi Currículum Vitae</h4>
                </div>
                <div class="timeline-body">
                  <p>Para acceder a la información que necesita permisos. <br/>Por favor, póngase en contacto con nosotros para darle acceso. <br />Si tiene permisos puedes iniciar sección.</p>
                </div>
              </div>
            </li>
        </ul>
      <br/><br/>
    </div>
    <br/><br/>
  </body>


