@{
    Layout = "~/_Layout.cshtml";
    Page.Num = 3;
}

@{
    int cont = 0;
    var db = Database.Open("Curriculum");
    var selectQueryString = "SELECT p.Nombre AS name, p.Email AS email, p.Telefono as phone, r.Comentario as comment FROM Recomendaciones AS r INNER JOIN Personas AS p ON r.IdPersona = p.IdPersona WHERE r.Status = 'True'";
    if (Session["actual"] == null){
        Response.Redirect("/Views/Login.cshtml");
    }
}
<body>
    <hr class="active">
    <div class="alert alert-danger">Por favor espere... Cargando datos.</div>
    <div class="alert alert-success" style="display: none;">Listo!!</div>
        <br/>
        <h2>Recomendaciones</h2>
        <br/>
    </div>
    <hr class="active">
    <ul class="nav nav-pills nav-justified">
        <li data-slide-to="1" class="active"><a data-toggle="modal" data-target="#comment">Nueva Recomendación</a></li>
    </ul>
    <br />
    @foreach(var row in db.Query(selectQueryString))
    {
        <div class="[ panel panel-default ] panel-google-plus">
            <div class="panel-heading">
                <img class="[ img-circle pull-left ]" src="https://cdn3.iconfinder.com/data/icons/users/100/user_male_1-512.png" alt="Mouse0270" />
                <h3>@row.name</h3>
                <div class="row contact row-first">
                    <div class="col-md-7">
                        <p><small class="text-muted"><i class="glyphicon glyphicon-envelope">  </i>  @row.email</small></p>
                    </div>
                    <div class="col-md-4">
                        <p><small class="text-muted"><i class="glyphicon glyphicon-phone">  </i>  @row.phone</small></p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p>@row.comment</p>
            </div>
        </div>
    }
    <br/><br/>
</body>
